body {
    background-image: url('images/kartinka.png');
    background-size: cover;
    background-position: center;
    background-color: #f8f8f8;
}

body::after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: -1; 
}

.container {
    display: flex;
    flex-direction: column;
    height: 100vh; 
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Arial', sans-serif;
}


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    background-color: #2c3e50;
    color: white;
}

header .logo {
    font-size: 24px;
    font-weight: bold;
}

header nav a {
    color: white;
    text-decoration: none;
    margin-left: 20px;
    font-size: 16px;
    transition: color 0.3s ease;
}

header nav a:hover {
    color: #18bc9c;
}

.form-container {
    width: 100%;
    max-width: 350px; 
    margin-top: 100px;
    margin: 50px auto;
    padding: 20px; 
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.form-group {
    margin-bottom: 15px; 
}

.form-group label {
    display: block;
    font-size: 16px;
    color: #333;
    margin-bottom: 5px;
}

.form-group input {
    width: 100%;
    padding: 12px; 
    font-size: 18px; 
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border 0.3s ease;
}

.form-group input:focus {
    border-color: #18bc9c;
}

button.btn {
    width: 100%;
    padding: 12px;
    font-size: 18px;
    background-color: #18bc9c;
    color: white;
    border: none;
    border-radius: 30px; 
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button.btn:hover {
    background-color: #16a085;
}

.main-content {
    flex-grow: 1;
    padding: 20px;
    text-align: center;
}

.welcome-message {
    margin-bottom: 30px;
    margin-top: 300px; 
    text-align: center; 
}

.welcome-message h1 {
    font-size: 42px; 
    color: #2c3e50;
}

.welcome-message p {
    font-size: 22px; 
    color: #2c3e50;
    margin-top: 20px; 
}

.dashboard-buttons {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.dashboard-buttons .btn {
    width: auto;
    padding: 12px 24px;
    font-size: 18px;
    background-color: #18bc9c;
    color: white;
    text-align: center;
    text-decoration: none;
    border-radius: 30px; 
    transition: background-color 0.3s ease;
}

.dashboard-buttons .btn:hover {
    background-color: #16a085;
}


footer {
    text-align: center;
    padding: 10px;
    background-color: #2c3e50;
    color: white;
    font-size: 14px;
    margin-top: auto; 
}


.login-page,
.register-page {
    
    display: block; 
    text-align: center; 

}

.error-message {
    color: red;
    text-align: center;
    margin-bottom: 15px;
}

.register-link {
    text-align: center;
    margin-top: 20px;
}

.register-link a {
    color: #18bc9c;
    text-decoration: none;
    font-weight: bold;
}

.register-link a:hover {
    text-decoration: underline;
}

.parking-table {
    width: 100%;
    margin-top: 20px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

.parking-table th, .parking-table td {
    padding: 15px;
    text-align: left;
    border-bottom: 1px solid #f1f1f1; 
}

.parking-table th {
    background-color: #2c3e50;
    color: white;
    font-size: 18px;
}

.parking-table td {
    font-size: 16px;
    color: #555;
}

.parking-table tr:hover {
    background-color: #f9f9f9;
}


.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    gap: 10px;
    font-size: 16px;
}

.pagination a {
    color: #18bc9c;
    text-decoration: none;
    padding: 8px 15px;
    border: 2px solid #18bc9c;
    border-radius: 4px;
    background-color: white;
    transition: background-color 0.3s ease;
}

.pagination a:hover {
    background-color: #18bc9c;
    color: white;
}

.pagination span {
    font-size: 16px;
    color: black; 
}


.search-street-input {
    width: 100%; 
    padding: 15px; 
    font-size: 18px; 
    border: 2px solid #ccc;
    border-radius: 4px;
    outline: none;
    transition: border 0.3s ease;
}

.search-street-input:focus {
    border-color: #18bc9c;
}

.suggestions-list {
    margin-top: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    max-height: 200px;
    overflow-y: auto;
}

.suggestions-list div {
    padding: 10px;
    border-bottom: 1px solid #f1f1f1;
    cursor: pointer;
}

.suggestions-list div:hover {
    background-color: #18bc9c;
    color: white;
}

.parking-info {
    margin-top: 30px;
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.parking-info h2 {
    color: #2c3e50;
    font-size: 24px;
}

.parking-info p {
    color: #555;
    font-size: 16px;
    margin-top: 10px;
}

.footer-link {
    color: #FFD700; 
    text-decoration: none; 
    font-weight: bold; 
}

.footer-link:hover {
    text-decoration: underline; 
    color: #FFFFFF; 
}

.custom-description {
    background-color: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    margin-top: 200px; 
    text-align: center;
    font-size: 1.1em;
    max-width: 800px; 
    margin-left: auto;
    margin-right: auto;
}


@media (max-width: 480px) {
    .welcome-message h1 {
        font-size: 24px;
    }

    .welcome-message p {
        font-size: 16px;
    }

    .dashboard-buttons .btn {
        padding: 14px;
        font-size: 14px;
    }

    .form-container {
        margin-top: 40px;
        padding: 15px;
        max-width: 95%;
    }

    header {
        padding: 10px;
    }

    .logo {
        font-size: 18px;
    }

    .parking-table th, .parking-table td {
        padding: 8px;
        font-size: 12px;
    }

    footer {
        font-size: 10px;
    }
}